@model ProjectPunter.ViewModels.RaceViewModel
@{
    ViewBag.Title = "ViewRace";
}
@using (Html.BeginForm("ViewRace", "Race", FormMethod.Post))
{
    <div class="container">
        <div class="col-lg-12 header-block">
            <div class="sub-header-block">
                <h1>@Html.DisplayFor(x => x.RaceModel.Event_Name)</h1>
            <h2>@Html.DisplayFor(x => x.RaceModel.Date)</h2>
            </div>
            <div class="sub-header-block">
                <h3>@Html.DisplayFor(x => x.RaceModel.Race_Type_Description)</h3>

                <h3>Surface: @Html.DisplayFor(x => x.RaceModel.Surface_Description)</h3>

                <h3>Weather: @Html.DisplayFor(x => x.RaceModel.Weather_Description)</h3>


            </div>
            <div class="sub-header-block">
                <h4>Number Of Horses: @Html.DisplayFor(x => x.RaceModel.Number_Of_Horses)</h4>

                <h4>Class: @Html.DisplayFor(x => x.RaceModel.Class_Number)</h4>

                <h4>Race Id: @Html.DisplayFor(x => x.RaceModel.Race_Id)</h4>
                @Html.HiddenFor(x=>x.RaceModel.Race_Id)
            </div>
        </div>
        <div class="race-list-container">
            <table class="horse-table table table-dark">
                <thead>
                    <tr class="table-header">
                        <th>ID</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Weight</th>
                        <th>Trainer</th>
                        <th>Jockey</th>
                        <th>Position</th>
                        <th>DNF</th>
                        <th>Clean Race</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.RaceHorses.Count(); i++)
                    {
                        <tr class="horse-row">
                            <td>@Html.DisplayFor(x => Model.RaceHorses[i].Horse_Id)</td>
                            @Html.HiddenFor(x => Model.RaceHorses[i].Horse_Id)

                            <td>@Html.DisplayFor(x => Model.RaceHorses[i].Horse_Name)</td>
                            @Html.HiddenFor(x => Model.RaceHorses[i].Horse_Name)

                            <td>@Html.DisplayFor(x => Model.RaceHorses[i].Age)</td>
                            @Html.HiddenFor(x => Model.RaceHorses[i].Age)

                            <td>@Html.DisplayFor(x => Model.RaceHorses[i].Weight)</td>
                            @Html.HiddenFor(x => Model.RaceHorses[i].Weight)

                            <td>@Html.DisplayFor(x => Model.RaceHorses[i].Trainer_Name)</td>
                            @Html.HiddenFor(x => Model.RaceHorses[i].Trainer_Name)

                            <td>@Html.DisplayFor(x => Model.RaceHorses[i].Jockey_Name)</td>
                            @Html.HiddenFor(x => Model.RaceHorses[i].Jockey_Name)

                            <td>@Html.EditorFor(x => Model.RaceHorses[i].Position)</td>
                            @Html.HiddenFor(x => Model.RaceHorses[i].Position)

                            <td>@Html.EditorFor(x => Model.RaceHorses[i].DNF)</td>
                            @Html.HiddenFor(x => Model.RaceHorses[i].DNF)

                            <td>@Html.EditorFor(x => Model.RaceHorses[i].Clean_Race)</td>
                            @Html.HiddenFor(x => Model.RaceHorses[i].Clean_Race)

                        </tr>
                    }
                </tbody>
            </table>
            <input type="submit" placeholder="Submit" />
        </div>

    </div>

}

<script>


</script>
