@page "/Races/TodaysRaces"
@using AdminPunter.Pages.Components

<PageTitle>Todays Races</PageTitle>

@inject IAdminRaceService adminRaceService;

@if (events == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var even in events)
    {
        <div id="event-card-@even.EventId" class="row">
            <div class="event-card col-md-12" @onclick="@(e => @ShowEventRaces(even.EventId))">
                <div class="col-md-8 event-card-right">
                    <h2>@even.Track</h2>
                    <h4><a href="@even.MeetingURL">@even.EventName</a></h4>
                </div>
                <div class="col-md-4 event-card-left">
                    <ul>
                        <li>Races: @even.NumberOfRaces</li>
                        <li>Surface: @even.SurfaceType</li>
                        <li>Meeting Type: @even.MeetingType</li>
                    </ul>
                    <input value="Run active algorithm" type="button" class="btn btn-primary" />
                </div>
            </div>
            <div class="col-md-12 races-container">
                @if (even.ShowRaces)
                {
                    <table class="table">
                        <thead>
                        </thead>
                        <tbody>
                            @foreach (var race in even.EventRaces)
                            {
                                <RaceComponent Race=race />
                            }

                }
                        </tbody>
                </table>
                }
            </div>
        </div>
    }
}
@code {
    private List<TodaysRacesViewModel>? events;

    protected override async Task OnInitializedAsync()
    {
        events = await adminRaceService.GetTodaysRaces();
    }

    private void ShowEventRaces(int eventId)
    {
        var even = events.Where(x => x.EventId == eventId).FirstOrDefault();

        if (even.ShowRaces)
        {
            even.ShowRaces = false;
        }
        else 
        {
            even.ShowRaces = true;
        }
    }
}
