@page "/Races/TodaysRaces"

<PageTitle>Todays Races</PageTitle>

@inject IAdminRaceService adminRaceService;

@if (events == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (var even in events)
    {
        <div id="event-card-@even.EventId" class="row">
            <div class="event-card col-md-12" @onclick="@(e => @ShowEventRaces(even.EventId))">
                <div class="col-md-8 event-card-right">
                    <h2>@even.Track</h2>
                    <h4><a href="@even.MeetingURL">@even.EventName</a></h4>
                </div>
                <div class="col-md-4 event-card-left">
                    <ul>
                        <li>Races: @even.NumberOfRaces</li>
                        <li>Surface: @even.SurfaceType</li>
                        <li>Meeting Type: @even.MeetingType</li>
                    </ul>
                    <input value="Run active algorithm" type="button" class="btn btn-primary" />
                </div>
            </div>
            <div class="col-md-12 races-container">
                @if (even.ShowRaces)
                {
                    <table class="table">
                        <thead>
                        </thead>
                        <tbody>
                            @foreach (var race in even.EventRaces)
                            {
                                @if (race.AlgorithmRan)
                                {
                                    <tr class="race-row race-row-complete" id="race-@race.RaceId-@race.EventId" @onclick="@(e => @ShowRaceHorses(even.EventId, race.RaceId))">
                                        <td>@race.RaceTime</td>
                                        <td>@race.Weather</td>
                                        <td>@race.NumberOfHorses</td>
                                        <td>@race.Going</td>
                                        <td>@race.Stalls</td>
                                        <td>@race.Distance</td>
                                        <td>@race.RaceClass</td>
                                        <td>@race.Ages</td>
                                        <td>@race.Description</td>
                                        <td>@race.RaceUrl</td>
                                    </tr>

                                        @if (race.ShowHorses)
                                        {

                                            @foreach (var horse in race.Horses)
                                            {


                                            }
                                        }
                                }
                                else
                                {
                                    <tr class="race-row race-row-incomplete" id="race-@race.RaceId-@race.EventId" @onclick="@(e => @ShowRaceHorses(even.EventId, race.RaceId))">
                                        <td>@race.RaceTime</td>
                                        <td>@race.Weather</td>
                                        <td>@race.NumberOfHorses</td>
                                        <td>@race.Going</td>
                                        <td>@race.Stalls</td>
                                        <td>@race.Distance</td>
                                        <td>@race.RaceClass</td>
                                        <td>@race.Ages</td>
                                        <td>@race.Description</td>
                                        <td>@race.RaceUrl</td>
                                     </tr>
                                        @if (race.ShowHorses)
                                        {
                                            <tr>
                                            <td colspan="100">
                                            <table class="table">
                                                <thead>
                                                    <tr class="horse-tbl-head">
                                                       <td>Name</td>
                                                       <td>Age</td>
                                                       <td>Jockey</td>
                                                       <td>Trainer</td>
                                                       <td>RPR</td>
                                                       <td>TS</td>
                                                       <td>Position</td>
                                                       <td>Predicted Position</td>
                                                        <td></td>
                                                    </tr>
                                                </thead>
                                            <tbody>
                                            @foreach (var horse in race.Horses)
                                            {
                                            <tr class="horse-tbl-body" id="horse-@race.RaceId-@horse.HorseId">
                                                <td>@horse.Name</td>
                                                <td>@horse.Age</td>
                                                <td>@horse.JockeyName</td>
                                                <td>@horse.TrainerName</td>
                                                <td>@horse.RPR</td>
                                                <td>@horse.Ts</td>
                                                <td>@horse.Position</td>
                                                <td>@horse.PredictedPosition</td>
                                                <td><input type="button" value="Statistics" class="btn btn-primary" @onclick="@(e => @ShowHorseStatistics(horse.HorseId, race.RaceId))"/></td>
                                            </tr>
                                            }
                                        </tbody>
                                        </table>
                                        </td>
                                        </tr> 
                                        }

                                }

                }
                        </tbody>
                </table>
                }
            </div>
        </div>
    }
}
@code {
    private List<TodaysRacesViewModel>? events;

    protected override async Task OnInitializedAsync()
    {
        events = await adminRaceService.GetTodaysRaces();
    }

    private void ShowEventRaces(int eventId)
    {
        var even = events.Where(x => x.EventId == eventId).FirstOrDefault();

        if (even.ShowRaces)
        {
            even.ShowRaces = false;
        }
        else 
        {
            even.ShowRaces = true;
        }
    }

    private void ShowRaceHorses(int eventId, int raceId)
    {
        var even = events.Where(x => x.EventId == eventId).FirstOrDefault();
        var race = even.EventRaces.Where(x => x.RaceId == raceId).FirstOrDefault();

        if (race.ShowHorses)
        {
            race.ShowHorses = false;
        }
        else 
        {
            race.ShowHorses = true;
        }
    }

    private void ShowHorseStatistics(int horseId, int raceId) 
    {
    
    }
}
